__pycache__/
*.pyc
*.o
*.bin
src/modules/fuzz_targets/bin/*
crashes/output/
reports/
*.zip
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
